[raw]
<style>.thumbnails li >p {display: none;}</style>
<div id="grouplist">
{{#groups}}
  <div class="group">
  <h2>{{name}}</h2>
  <p>{{{description}}}</p>
  <a onclick="uncollapse(this);" class="more">Show Modules</a>
  <ul class="thumbnails">
    {{#modules}}
      <li>
        <a href="{{link}}" class="thumbnail sidelink">
          <div class="row">
            <div class="span2">
              <img alt="{{title}}" src="{{image}}">
            </div>
            <div class="caption offset2">
              <h3>{{title}}</h3>
              <p>{{{description}}}</p>
            </div></div>
        </a>
     </li>
    {{/modules}}
    </ul>
    </div>
{{/groups}}
</div>
<script>
function uncollapse(what) {
  $("ul.thumbnails").hide();
  $("ul.thumbnails",$(what).parent().parent()).show();
  }
$(document).ready(function() {
  $("ul.thumbnails").hide();
  })
</script>  
[/raw]
